__generated__/
schema/schema.graphql
node_modules
.next/
*.zip
# Elastic Beanstalk Files
.elasticbeanstalk/config.yml-e
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
